<%- include('includes/head') %>

<body>

    <body>
        <div class="container">
            <!-- Nav Bar -->
            <div class="nav-container">

                <div class="nav-hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <nav class="nav-list-container">

                    <h2>Ecommerce</h2>

                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Contacts</a></li>
                        <li><a href="">About</a></li>
                    </ul>

                    <div class="other-menu">

                        <div class="search-bar">
                            <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                        </div>

                        <div class="cart-item">
                            <a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
                        </div>

                        <div class="user-bar">
                            <a href="/login"><i class="fa-solid fa-user fa-2x"></i></a>
                        </div>

                    </div>

                </nav>

            </div>

            <!-- Profile -->
            <div class="user-profile">
                <div class="main-user-profile-nav">
                    <div class="user-profile-nav">

                        <div class="user-profile-img">
                            <img src=" <%= image %>" alt="">
                        </div>

                        <div class="user-profile-nav-list">

                            <div class="nav-hover-wrapper">
                                <span>Dashboard</span>
                                <div class="dashboard-nav">
                                    <a href="/admin/dashboard"><i class="fa-brands fa-discord"></i></a>
                                </div>
                            </div>

                            <div class="nav-hover-wrapper">
                                <span>Orders</span>
                                <div class="order-nav">
                                    <a href=""><i class="fa-sharp fa-solid fa-bag-shopping"></i></a>
                                </div>
                            </div>

                            <div class="nav-hover-wrapper">
                                <span>Profile</span>
                                <div class="profile-nav">
                                    <a href="/admin"><i class="fa-solid fa-user"></i></a>
                                </div>
                            </div>

                            <div class="nav-hover-wrapper">
                                <span>Cart</span>
                                <div class="cart-nav">
                                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                                </div>
                            </div>

                            <div class="nav-hover-wrapper">
                                <span>Logout</span>
                                <div class="logout-nav">
                                    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dashboard -->
        <div class="dashboard-container">

            <div class="dashboard-nav-section">
                <h2>Ecommerce</h2>
                <nav>
                    <ul>
                        <a href="/admin/dashboard"><span><i class="fa-brands fa-discord"></i></span>
                            <li>Dashboard</li>
                        </a>
                        <a href="" class="products"><span><i class="fa-brands fa-slack"></i></span>
                            <li>Products</li>
                        </a>
                        <a href="/admin/all-products" class="products-child products-dashboard"><span><i
                                    class="fa-solid fa-border-all"></i></span>
                            <li>All</li>
                        </a>
                        <a href="/admin/create" class="products-child">
                            <li>+ Create</li>
                        </a>
                        <a href="/admin/all-orders" class="orders-dashboard"><span><i
                                    class="fa-sharp fa-solid fa-bag-shopping"></i></span>
                            <li>Orders</li>
                        </a>
                        <a href="/admin/users" class="users-dashboard"><span><i class="fa-solid fa-user"></i></span>
                            <li>Users</li>
                        </a>
                        <a href="/admin/all-reviews"><span><i class="fa-solid fa-star"></i></span>
                            <li>Reviews</li>
                        </a>
                    </ul>
                </nav>
            </div>

            <!-- All Products Dashboard (Admin) -->
            <div class="dashboard-main-section">
                
    
                <!-- All products Section -->
                <div class="products-section">
                    <h2 class="all-product-heading">All Products</h2>
                    <div class="all-products-section">
                        <table cellspacing="0">
    
                            <thead>
                                <tr>
                                    <th>Product Id</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <% product.forEach(item => { %>
                                    <tr>
                                        <td><%= item._id %></td>
                                        <td><%= item.name %></td>
                                        <td><%= item.stock %></td>
                                        <td><%= item.price %></td>
                                        <td>
                                            <a href="/admin/product/<%=item.id%>"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a href="/product/delete/<%=item._id%>"><i class="fa-solid fa-trash" id="delete-product"></i></a>
                                        </td>
                                    </tr>

                               <% })%>
                                
    
                            </tbody>
                        </table>
                    </div>
                </div>
    
                
    
            </div>

        </div>

        <script>
            const hamburger = document.querySelector('.nav-hamburger');
            const navList = document.querySelector('.nav-list-container');

            hamburger.addEventListener('click', () => {
                navList.classList.toggle('active');
            })

            const user = document.querySelector('.user-profile-nav');

            user.addEventListener('mouseover', () => {
                document.querySelector('.main-user-profile-nav').classList.add('active');
            })
            user.addEventListener('mouseout', () => {
                document.querySelector('.main-user-profile-nav').classList.remove('active');
            })

            // Products Child toggle
            const productsChild = document.querySelectorAll('.products-child');
            const products = document.querySelector('.products');

            products.addEventListener('click', (e) => {
                e.preventDefault();
                productsChild.forEach(item => {
                    item.classList.toggle('active');
                })
            })

       
        </script>
    </body>
</body>

</html>