<%- include('includes/head') %>
<body>
    <div class="container">
        <%- include('includes/navigation') %>
    </div>

    <!-- Dashboard -->
    <div class="dashboard-container">

        <div class="dashboard-nav-section">
            <h2>Ecommerce</h2>
            <nav>
                <ul>
                    <a href=""><span><i class="fa-brands fa-discord"></i></span>
                        <li>Dashboard</li>
                    </a>
                    <a href="" class="products"><span><i class="fa-brands fa-slack"></i></span>
                        <li>Products</li>
                    </a>
                    <a href="" class="products-child products-dashboard"><span><i
                                class="fa-solid fa-border-all"></i></span>
                        <li>All</li>
                    </a>
                    <a href="/admin/create" class="products-child">
                        <li>+ Create</li>
                    </a>
                    <a href="" class="orders-dashboard"><span><i class="fa-sharp fa-solid fa-bag-shopping"></i></span>
                        <li>Orders</li>
                    </a>
                    <a href="/admin/users" class="users-dashboard"><span><i class="fa-solid fa-user"></i></span>
                        <li>Users</li>
                    </a>
                    <a href="/admin/all-reviews"><span><i class="fa-solid fa-star"></i></span>
                        <li>Reviews</li>
                    </a>
                </ul>
            </nav>
        </div>

        <div class="dashboard-main-section">
            <!-- Dashboard Section -->
            <div class="dashboard-section">
                <h2 class="dashboard-heading">Dashboard</h2>

                <div class="dashboard-total-amount">
                    <h4>Total Amount</h4>
                    <h4>$ <%=totalOrderAmount%></h4>
                </div>

                <div class="dashboard-overview">

                    <div class="products-dashboard" style="background-color: rgb(166, 73, 73);">
                        <h2>Products</h2>
                        <h2><%= totalProduct %></h2>
                    </div>

                    <div class="orders-dashboard" style="background-color: rgb(138, 168, 91);">
                        <h2>Orders</h2>
                        <h2><%= totalOrder %></h2>
                    </div>

                    <div class="users-dashboard" style="background-color: rgb(35, 34, 34);">
                        <h2>Users</h2>
                        <h2>
                            <%= totalUser %>
                        </h2>
                    </div>
                </div>

            </div>
            

        </div>
    </div>

    <script>
        const hamburger = document.querySelector('.nav-hamburger');
        const navList = document.querySelector('.nav-list-container');

        hamburger.addEventListener('click', () => {
            navList.classList.toggle('active');
        })

        const user = document.querySelector('.user-profile-nav');

        user.addEventListener('mouseover', () => {
            document.querySelector('.main-user-profile-nav').classList.add('active');
        })
        user.addEventListener('mouseout', () => {
            document.querySelector('.main-user-profile-nav').classList.remove('active');
        })

        // Products Child toggle
        const productsChild = document.querySelectorAll('.products-child');
        const products = document.querySelector('.products');

        products.addEventListener('click', (e) => {
            e.preventDefault();
            productsChild.forEach(item => {
                item.classList.toggle('active');
            })
        })

        // Display All Products 
        const productsDashboard = document.querySelectorAll('.products-dashboard');
        const productSection = document.querySelector('.products-section');
        const dashboardSection = document.querySelector('.dashboard-section');
        const orderSection = document.querySelector('.orders-section');
        const userSection = document.querySelector('.users-section');

        productsDashboard.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                window.location = '/admin/all-products'
            })
        })

        // Display All Orders 
        const ordersDashboard = document.querySelectorAll('.orders-dashboard');

        ordersDashboard.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                window.location = '/admin/all-orders'
            })
        })

        // Display All Users 
        const usersDashboard = document.querySelectorAll('.users-dashboard');

        usersDashboard.forEach(item => {
            item.addEventListener('click', (e) => {
                e.preventDefault();
                window.location = '/admin/users'
            })
        })

    </script>
</body>

</html>