<%- include('includes/head') %>
<body>
    <div class="container">
        <%- include('includes/navigation') %>
        <!-- Product Section -->
        <div class="product-container">

            <div class="featured-product">
                <h2>Featured Products</h2>
            </div>

            <div class="product-main-container">
                <% product.forEach(item=> { %>
                    <div class="product-card" data-id="<%= item._id %>">

                        <div class="product-img">
                            <img src="<%=item.images[0].url%>" alt="">
                        </div>

                        <div class="product-title">
                            <h4>
                                <%=item.name%>
                            </h4>
                        </div>

                        <div class="product-stars">
                            <span class="start customer-star-div" data-id="<%=item.rating%>">
                                <i class="fa-solid fa-star" data-id="1"></i>
                                <i class="fa-solid fa-star" data-id="2"></i>
                                <i class="fa-solid fa-star" data-id="3"></i>
                                <i class="fa-solid fa-star" data-id="4"></i>
                                <i class="fa-solid fa-star" data-id="5"></i>

                            </span>
                            <span class="review-count">
                                (<%=item.numOfReviews%> Reviews)
                            </span>
                        </div>
                        <div class="product-price">
                            <h3>$<%=item.price%>
                            </h3>
                        </div>
                    </div>
                    <% }) %>



            </div>
        </div>
        <%- include('includes/footer') %>
    </div>
    
    <script>
        const productCard = document.querySelectorAll('.product-card');

        productCard.forEach(item => {
            item.addEventListener('click', () => {
                let productId = item.getAttribute('data-id');
                window.location = `/product/${productId}`;

            })
        })

        // Show product Overall rating
        let avgStar = document.querySelectorAll('.customer-star-div');
        avgStar.forEach(item => {
            let itemStar = item.querySelectorAll('i');
            itemStar.forEach(star => {
                if (star.dataset.id <= item.dataset.id) {
                    star.style.color = 'orange';
                }
            })
        });

    </script>
</body>
</html>

